* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 4px 1%;
}
body {
  background-color: #efefef;
}
.left-section,
.middle-section,
.right-section,
.search-bar {
  display: flex;
  align-items: center;
}
.search-icon {
  width: 16px;
}
.search-bar {
  height: 40px;
  margin-left: 5px;
  padding: 0 12px;
  border-radius: 20px;
  width: 240px;
  border: 0;
  background-color: #eee;
}
.search-bar input {
  outline: none;
  border: 0;
  margin-left: 10px;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
}
.middle-section img {
  width: 25px;
}
.container-img {
  width: 100px;
  height: 50px;
  border-radius: 8px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-img:hover {
  background-color: #eee;
  cursor: pointer;
}
.middle-section {
  margin-right: 90px;
}
.home-container {
  position: relative;
}
.home-container::after {
  position: absolute;
  content: "";
  background-color: #1876f2;
  width: 100px;
  height: 3px;
  bottom: -5px;
}
.home-container:hover {
  background-color: initial;
}
.middle-section .home-icon {
  filter: sepia(100%) saturate(500%) hue-rotate(180deg);
}

.right-section img {
  width: 20px;
}
.right-section .container-img {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 0;
  margin-left: 10px;
}
.right-section .user-icon {
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.online {
  position: relative;
  display: flex;
}
.online::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  right: 0;
}

/* ------------Medidas del container--------- */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 1%;
}
.sidebar-left {
  flex-basis: 20%;
  position: sticky;
  top: 80px;
  height: 100vh;
}
.main-content {
  flex-basis: 40%;
}
.sidebar-right {
  flex-basis: 20%;
  position: sticky;
  top: 80px;
  height: 100vh;
}

/* ----------sidebar-left----------- */
.accesos-directos a {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 15px;
}
.accesos-directos img {
  width: 30px;
  margin-right: 20px;
}
.accesos-directos .usuario {
  border-radius: 50%;
}
.sidebar-left hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}
.grupos h3 {
  font-size: 15px;
  color: #5a5a5a;
  margin-bottom: 20px;
}
.grupos a {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 20px;
  font-size: 15px;
}
.grupos img {
  width: 80px;
  margin-right: 20px;
}

/* ---------sidebar-right------------ */
.publicidad h3 {
  font-size: 15px;
  margin-bottom: 20px;
  color: #5a5a5a;
}
.publicidad a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
  font-size: 15px;
}
.publicidad img {
  width: 100px;
  margin-right: 20px;
  border-radius: 5px;
}
.sidebar-right hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
}
.amigos h3 {
  color: #5a5a5a;
  margin: 20px 0;
  font-size: 15px;
}
.amigos .online {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  width: fit-content;
  color: #5a5a5a;
}
.amigos .online img {
  width: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.amigos .online::after {
  bottom: 0px;
  left: 30px;
}

/* -----main-content------- */
.subir-estado {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.mensaje-usuario {
  display: flex;
  align-items: center;
}
.mensaje-usuario img {
  border-radius: 50%;
  margin-right: 10px;
  width: 45px;
}
.mensaje-usuario input {
  height: 45px;
  border: 0;
  outline: none;
  background-color: #eee;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 25px;
}
.subir-estado hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0 20px;
}
.subir-video {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subir-video div {
  display: flex;
  align-items: center;
}
.subir-video img {
  margin-right: 10px;
}
.subir-video span {
  font-size: 15px;
  color: #5a5a5a;
}
.galeria-historias {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.historia {
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.historia img {
  position: absolute;
  width: 45px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: 5px solid #1876f2;
}
.historia p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.historia-1 {
  background-image:
    linear-gradient(transparent, rgba(0, 0, 0, 0.2)), url(imagenes/amigo-1.png);
}
.historia-2 {
  background-image:
    linear-gradient(transparent, rgba(0, 0, 0, 0.2)), url(imagenes/amigo-2.png);
}
.historia-3 {
  background-image:
    linear-gradient(transparent, rgba(0, 0, 0, 0.2)), url(imagenes/amigo-3.png);
}
.historia-4 {
  background-image:
    linear-gradient(transparent, rgba(0, 0, 0, 0.2)), url(imagenes/amigo-4.png);
}
.historia-5 {
  background-image:
    linear-gradient(transparent, rgba(0, 0, 0, 0.2)), url(imagenes/amigo-5.png);
}
.historia-1 img {
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
}
.publicacion {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.autor {
  display: flex;
  align-items: center;
}
.autor div {
  flex: 1;
}
.autor img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.autor div {
  font-size: 14px;
  color: #5a5a5a;
}
.autor span {
  color: #000;
  font-weight: 600;
}
.autor p {
  font-size: 12px;
}
.autor .puntos {
  width: 25px;
  margin-right: 0;
}
.mensaje {
  font-size: 14px;
  color: #5a5a5a;
  margin: 15px 0;
}
.reacciones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.reacciones div {
  display: flex;
  align-items: center;
}
.reacciones img {
  width: 25px;
}
.reacciones span {
  color: #5a5a5a;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 10px;
}
.publicacion .publicacion-img {
  width: calc(100% + 40px);
  margin-left: -20px;
}
.settings-menu {
  position: absolute;
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 2%;
  max-height: 0;
  transition: max-height 0.3s;
}
.settings-menu-height {
  max-height: 450px;
}
.settings-menu-inner {
  padding: 20px;
}

.user-profile {
  display: flex;
  align-items: center;
}
.user-profile img {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}
.user-profile a {
  font-size: 12px;
  color: #1876f2;
}
.settings-menu hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 15px 0;
}
.settings-links {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.settings-links .settings-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}
.settings-links a {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

/* -----------media queries---------- */
@media (max-width: 700px) {
  .sidebar-left,
  .sidebar-right {
    display: none;
  }
  .main-content {
    flex-basis: 100%;
  }
  .middle-section {
    display: none;
  }
  .search-bar input {
    display: none;
  }
  .search-bar {
    width: 40px;
  }
  .container {
    padding: 20px 0;
  }
  .mensaje-usuario input {
    font-size: 14px;
  }
  .subir-video img {
    width: 15px;
  }
  .subir-video span {
    font-size: 13px;
  }
  .historia p {
    font-size: 12px;
  }
  .historia img {
    width: 40px;
  }
}
